<h1>Congratulations, your booking has been confirmed</h1>
<div>
<h2>Booking id: <%= @booking.id %></h2>
<h3>Start date: <%= @booking.start_date %> End date: <%= @booking.end_date %></h3>
<p><%= @booking.boat.name %></p>
<p>Location: <%= @booking.boat.address %></p>
</div>
<div>
<%= link_to "Back to home page", root_path %>
</div>
