<div class="container col-12">
  <div class="banner" style="display: flex;">
    <img class="col-12"  src="<%= asset_path('banner2.png') %>">
    <div class="search-box">
      <div class="banner-text">
        <h1>It's time to <img src="<%= asset_path('logoname.png') %>" style="width:30%;">!</h1>
        <p>The best solution for your boat hire plans</p>
      </div>
      <%= render "shared/search" %>
    </div>
  </div>

  <br>
  <%= link_to "Explore Boats", boats_path, style: "font-weight:600", class: "btn btn-primary text-white" %>
  <br>
  <br>
  <h2>Our Community Favorites</h2>
  <%= render "shared/card" %>
</div>

<br>
<br>
<br>
<br>