<div class="container">
  <div class="well full-width">
  <img class="banner" src="<%= asset_path('banner.png') %>">
    <div class="centered">
      <h1 class="time_to">It's time to <img class="img-fluid" src="<%= asset_path('logoname.png') %>" style="width:30%;"> !</h1>
      <h2>The best solution for your boat hire plans</h2>
    </div>
      <div class="search-box-home">
      <%= render "shared/search" %>
      </div>
  </div>
  <br>
  <%= link_to "Explore Boats", boats_path, style: "font-weight:600", class: "btn btn-primary text-white" %>
  <br>
  <br>
  <br>
  <h2>Our Community Favorites</h2>
  <%= render "shared/card" %>
</div>

<br>
<br>
<br>
<br>
