<div class="container">
  <img class="img-fluid img-responsive w-100" src="<%= asset_path('banner.svg') %>" style="width:100%;">
  <h1 style="color: red">It's time to Float Your Boat!</h1>
  <h2 class="header2">The best solution for your boat hire plans</h2>
  <%= link_to "See all boats", boats_path %>
</div>
<br>

<div class="d-flex justify-content-between">
  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>

  <div class="card " style="width: 25rem;">
    <img class="card-img-top" src=" <%= asset_path('boat-card.jpg') %> " alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><strong> Bellingardo Ghost 5.50 open-boat(2010) </strong></p>
      <p class="col-2 text-truncate">London</p>
      <p class="pull-right">From £214 per day </p>
    </div>
  </div>
</div>
