<h1>Boats</h1>
  <div class= "cards">
  <% @boats.each do |boat| %>
  <%= link_to boat do %>
    <div class= "card-boat">
      <div class="card-boat-infos">
        <p><%= boat.name %></p>
        <p><%= boat.address %></p>
        <p><%= boat.boat_type %></p>
        <p><strong>£<%= boat.price %>.00/day</strong></p>
        <p>⭐<%=boat.average_rating %></p>
      </div>
    </div>
    <br>
<% end %>
<% end %>
 </div>
<%= link_to "List your boat", new_boat_path %>
<br>
<%= link_to "Back to home page", root_path %>
<br>

<%= render "shared/map" %>
<br>
<br>
