<div>
<h1><%= @boat.name%></h1>
<div>
<% @boat.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 200, width: 300, crop: :fit %>
<% end %>
<div>
<p><%= @boat.boat_type.capitalize %></p>
<p><%= @boat.address %></p>
<p><%= @boat.description %></p>
<p>£<%= @boat.price %>.00 / day</p>
<p>⭐<%= @boat.average_rating %></p>
</div>
<div>
<%# This link should only be visible to Customers %>
<%= render "reviews" %>
<%= link_to "Book this boat", new_boat_booking_path(@boat) %>
<br>
<%= link_to 'Choose another',
  boats_path
%>
<br>
<%= link_to "Review this boat", new_boat_review_path(@boat) %>
<br>
<%# Delete should only be visible to Owner %>
<%= link_to 'Edit this listing', edit_boat_path%>
<br>
<%= link_to 'Delete',
  boat_path(@boat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
