<div>
<h1><%= @boat.name%></h1>
<div>
<% @boat.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 200, width: 300, crop: :fit %>
<% end %>
<div>
<p><%= @boat.boat_type.capitalize %></p>
<p><%= @boat.address %></p>
<p><%= @boat.description %></p>
<p>£<%= @boat.price %>.00 / day</p>
<p>⭐<%= @boat.average_rating %></p>
</div>
<div>

<%= render "reviews" %>
<%# An owner of a boat can't book his own boat %>
<% unless policy(@boat).edit? %>
<%= link_to "Book this boat", new_boat_booking_path(@boat) %>
<% end %>
<br>
<%= link_to 'Choose another',
  boats_path
%>
<br>
<%# An owner of a boat can't review his own boat %>
<% unless policy(@boat).edit? %>
<%= link_to "Review this boat", new_boat_review_path(@boat) %>
<% end %>
<br>
<%# Edit only visible to Owner if true %>
<% if policy(@boat).edit? %>
<%= link_to 'Edit this listing', edit_boat_path%>
<% end %>
<br>
<%# Delete only visible to Owner if true %>
<% if policy(@boat).destroy? %>
<%= link_to 'Delete',
  boat_path(@boat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<% end %>
<br>
</div>
